@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

} 
.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
    
}  
.logoA{
   margin-right: 15px;
   font-weight: bold;
} 
.logoB{
    margin-left: 15px;
    font-weight: bold;
}
.nav-space{
    border-bottom: 1px solid rgb(164, 196, 188);
    height: 61px;
    line-height: 59px;

    
}
.nav-home{
    list-style: none;
    margin-left: 15px;;
    padding: 0;
    justify-content: space-between;
    display: flex;
    height: 60px;
    font-size: 15px;
    
}
.nav-home a li {
    width:100px;
    text-align: center;
    font-size: 13px;
}
.nav-home2{
    list-style: none;
    margin-left: 15px;;
    padding: 0;
    justify-content: space-between;
    display: flex;
    height: 60px;
    font-size: 15px;
    
}

.nav-home a{
    text-decoration: none;
    height: 60px;
    color:#fff;

}
.nav-home a li:hover{
    text-decoration: none;
    color:#2ECC71;
   
     
}
.nav-home a li img{
    padding: 0;
    margin: 0;
}
.nav-home a li:after{
    
    content: '';    
    margin-bottom:3px;
    display: block;
    width: 0;
    height: 3px;
    background: #2ECC71;
    transition: width .3s;
}
.nav-home a li:hover::after{
    width: 100%;
}
.rgb0{
    position: fixed;
    top: 0;
    left: 0;    
    background-image: linear-gradient(to bottom right, rgba(0,24,182,0.70)40%,rgba(83,160,253,0.90), rgba(50,211,202,0.80));
    width: 100%;
    height: 100%;
    z-index: -3;
}
.imgbg01{
    position:fixed;
    top: 0;
    left: 0;         
    background: url('../images/bg01.jpg') no-repeat center center fixed;    
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 100%;
    width: 100%;        
    z-index: -2;
        
}
.imgbg02{
    position:fixed;
    top: 0;
    left: 0;         
    background: url('../images/bg02.jpeg') no-repeat center center fixed;    
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 100%;
    width: 100%;        
    z-index: -2;
        
}
.imgbg03{
    position:fixed;
    top: 0;
    left: 0;         
    background: url('../images/bg03.jpeg') no-repeat center center fixed;    
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 100%;
    width: 100%;        
    z-index: -2;
        
}
.imgbg04{
    position:fixed;
    top: 0;
    left: 0;         
    background: url('../images/bg04.jpeg') no-repeat center center fixed;    
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 100%;
    width: 100%;        
    z-index: -2;
        
}
.imgbg05{
    position:fixed;
    top: 0;
    left: 0;         
    background: url('../images/bg05.jpg') no-repeat center center fixed;    
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    height: 100%;
    width: 100%;        
    z-index: -2;
        
}
.rgb1{
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(0,24,182,0.70)40%,rgba(83,160,253,0.90), rgba(50,211,202,0.80));
    width: 100%;
    height: 100%;
    z-index: -1;
}
.my-cont{
    width: 95%;
    margin: auto;
    color: #fff;
    height: 60px;;
    

}
.my-cont-content{
    width: 95%;
    margin: auto;
    color: #fff;
    padding: 0;
    margin-top: 20px;
}

.logo{
    padding: 0;
    
}

.home-content-tittle{
   font-weight: bold;
   font-size:35px;
   color: #FFF; 
}
.home-content-content{
    font-size:15px;
    color:#fff;
    margin-bottom:25px;
}
.home-content-buttom{
    height: 53px;
    width: 230px;
    text-align: center;
    background-color:#2ECC71;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 53px;
    margin: 0 0 0 11px;

}
.home-content-buttom a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
}
.home-content-buttom a:hover{
    color:#fff;
}
.about-left{
    padding: 0;
    margin-top: 20px; 

}
.about-content-tittle{
    color: #fff;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.about-content-subtittle{
    font-size: 16px;
    color: #B8B2B2;
    text-align: center;
    margin-bottom: 10px;

}
.about-content-content{
    font-size: 13px;
    color: #FFF;
    
}
.about-box{
    width: 570px;
    height: 315px;
    border-radius:37px;
    background-color: rgba(8, 38, 74, 0.16);
    margin-top: 20px;
    box-shadow:0 0 8px #08264A;

}
.box-content{
    width: 95%;
    height: 95%;
    border-radius:37px;
    
}
.box-tittle{
    font-size:27px;
    color: #E6E5E5;
    font-weight:medium ;
    text-align: center;

}
.box-find{
    font-size: 17px;
    color:#BBBBBB;
    margin-top: 20px;

}
.box-cat{
    
    font-size:17px;
    color:#E6E5E5;
    font-weight: medium;
    margin-right:5px;
}
.map img{
    width: 220px;
    height: 133px;;
}
.map-tittle{
    font-size: 17px;
    color:#BBBBBB;
    text-align: center;
}
.about-right{
    margin-left: 50px;
}
.find-us{
    margin-bottom:50px; 
}
.about-me{
    width: 500px;
    height: 190px;
    margin-top: 90px;
    
}
.about-me img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
}
.about-me-name{
    font-size: 25px;
    color:#fff;
    margin-left: 20px;
}
.about-me-list{
    color: #fff;
    font-size:15px;
    margin-top: 10px;
}
.about-me-list li{   
    margin-bottom: 15px;
}
.serv-content{
    height: 150px;
}
.serv-left{
    padding: 0;
}
.serv-tittle-left{
    font-size: 27px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.serv-content-left{
    font-size: 15px;
    color: #97A1AC;
    margin: 0;
    padding: 0;
    padding: 5px  5px;
   
}
.serv-content-right{
    font-size: 15px;
    color: #FFF;
    margin: 0;
    padding: 0;
    padding: 5px  5px;   
}
.serv-cont-left{
    padding: 0;   
}
.serv-cont-right img{
    width: 175px;
    height: 100px;
    border-radius: 27px;
    border: 2px solid #fff;

}
.serv-cont-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
.serv-right{
    margin-top: 19%;
}
.serv-tittle-right{
    font-size: 27px;
   color: #00F811;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.big-box{
    margin-top: 20px;
    width: 60%;
    height: 345px;
    background-color: rgba(46, 204, 113, 0.24);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-box-inside{
    width: 95%;    
    height: 95%;    
}
.agendar-tittle{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
.form-right,.form-left{
    color: #E8E0E0;
    font-weight: bold;
}
.form-left input,.form-right input{
    width: 260px;
    height: 30px;
    background-color: rgba(8,38,74,0.31);
    border:0;
    border-radius:10px;
    color: #ccc;
    padding-left: 6px;
}
.form-right select{
    width: 120px;
    background-color: rgba(8,38,74,0.31);
    border:0;
    border-radius:10px;
    color: #ccc;
    height: 30px;
    padding-left: 6px;
}
.form-right select option{
     background-color: rgba(8,38,74,0.31);
     border:0;
     border-radius:10px;
     color: #000;
     padding-left: 6px;
}
input[type="submit"]{
    margin-top: 10px;
    font-weight: bold;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    background-color: #2ECC71;
    color:#FFF;
    border:0;
}
.box-hour{
    width: 500px;
    height: 300px;
    background: rgba(8,38,74,0.60);
    border-radius: 55px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-hour-content{
    width: 85%;
    height:88%;
    
}
.box-hour-tittle{
    color: #fff;
    font-weight: bold;
    font-size: 20px;

}
.box-hour-text{
    font-size: 13px;
    color:#00F811;
    margin-bottom: 15px;
}

.image-blog{
    width: 15%;
    height: 260px;
   
    padding: 0;

}
.image-blog img{
    width: 100%;
    height: 160px;
    border-radius: 18px 0 0 18px;
    border: 2px  solid #2ECC71;
}
.date-blog{
    text-align: right;
    color: #fff;
    font-weight: bold;
     margin-top: 70px;
}
.blog-post{
    height: 320px;
    padding: 0;
}
.blog-content{
    height: 260px;
    width: 100%;
    background-color: #08264A;
    border-radius: 90px 10px 90px 10px;
    margin-top: 25px;
}
.blog-space{
   
    height: 95%;
    color:#fff;
}
.blog-box{
   width:90%;
   height: 100%;
}
.post-tittle{
    height: 28px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-top: 5px;
    color:#2ECC71;
    font-size: 15px;
}
.post-content{
    margin: auto;
    width: 95%;
    max-width: 95%;
    height: 160px;
    margin-top: 5px;
    font-size: 14px;
    overflow: hidden;
}
.option-blog{
     width: 95%;
     margin: auto;
}
.btn-blog{
    width: 150px;
    height: 38px;
    border-radius: 18px;
    background-color: rgba(151,161,172,0.15);
    text-decoration: none;
    color:#2ECC71;
    line-height: 38px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
     margin-left: 25px;
}
.btn-blog:hover{  
    color:#2ECC71;
    text-decoration: none;

   
}